.welcome-header {
  padding: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

.login-form {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

.login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}
.login-form__text:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
.login-form__text::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login-form__text:focus {
  border-color: var(--yellow);
}

.login-form__btn {
  border: none;
  padding: 20px 0px;
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 10px;
}

.login-form__link {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  opacity: 0.4;
}
