.main-screen__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.main-screen__icons__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.main-screen__icons__text {
  margin-top: 20px;
  width: 95%;
}

.main-screen__icons__container:last-child {
  margin-bottom: 15px;
}
