.icon-row__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0.8;
}

.icon-row__container {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.icon-row__text {
  margin-top: 20px;
  width: 95%;
}
