.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes badgeAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.nav__notify {
  background-color: tomato;
  color: white;
  font-weight: 600;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 5px;
  left: 15px;
  bottom: 15px;
  animation: badgeAnimation 3s ease-in-out infinite;
}

.nav__more {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  left: 30px;
  bottom: 30px;
}

@keyframes appearButtonAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearButtonAnimation 0.5s ease-in-out forwards;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.5s;
}
.nav__btn:nth-child(3) {
  animation-delay: 1s;
}
.nav__btn:last-child {
  animation-delay: 1.5s;
}
