.no-mobile {
  position: absolute;
  background-color: var(--yellow);
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;

  font-size: 30px;
}

@media screen and (max-width: 645px) {
  .no-mobile {
    display: none;
  }
}
