.main-screen__recommend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  height: 25vh;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 450;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0px;
}
.main-screen__recommend-message {
  text-align: center;
}

.main-screen__open-chat {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  padding-top: 25px;
}

.main-screen__open-chat__title {
  font-weight: 600;
}
.main-screen__open-chat__menu {
  display: flex;
  justify-content: space-between;
}

.main-screen__contents-img {
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 10px;
}

.main-screen__open-chat__contents {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 450;
}

.main-screen__open-chat__openchat-link {
  opacity: 0.6;
  font-size: 15px;
}
.main-screen__open-chat__contents__meta__title {
  font-size: 15px;
  color: rgb(25, 25, 25);
  font-weight: 600;
  padding: 3px;
}

.main-screen__open-chat__contents__meta_hashtags {
  font-size: 13px;
  padding: 3px;
  opacity: 0.6;
}

.main-screen__open-chat__contents__meta_info {
  margin-top: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
}

.main-screen__open-chat__contents__meta_info_img {
  margin-right: 5px;
}
.main-screen__open-chat__contents__meta_info_text {
  opacity: 0.6;
}
.main-screen__open-chat__contents__meta_info_active {
  color: rgb(255, 159, 220);
  opacity: 1;
  font-weight: 600;
  margin-left: 2px;
}

.main-screen__open-chat__contents__img {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.main-screen__open-chat__contents__meta_info_img__badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  bottom: 0px;
  margin: 10px;
  background-color: rgb(63, 63, 63, 0.7);
  width: 60px;
  height: 25px;
  border-radius: 20px;
  font-size: 12px;
}
.main-screen__open-chat__contents__meta_info_img__badge__text {
  margin-left: 5px;
  font-size: 13px;
}
