.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__profile {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.user-component__subtitle {
  font-size: 15px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__subtitle i {
  color: tomato;
}
.user-component__profile--xl {
  width: 80px;
  height: 80px;
}
.user-component__profile--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__profile--xs {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0;
}

.user-component__title--light {
  font-weight: 400;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.user-component__time {
  margin-bottom: 10px;
}

.user-component__badge {
  width: 25px;
  height: 25px;
}
